body{
  background:       #cee;                   /* grey #cee; */ /* white  #fdb; */
  color:            #157;                   /* blue #157; */ /* orange #e62; */

  font-family:      Arial, Helvetica, sans-serif;
  font-size:        18px;
  
  padding:          0px; 
  border:           0px;
  margin:           0px;
}


/*footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer*/


footer{
  background:       #157;
  color:            #cee;

  font-size:        12px;
  text-align:       center;

  padding:          12px 0px 12px 0px;      /*top right bottom left*/
  border-top:       #e62 6px solid;
}


/*header header header header header header header header header header header header header header header header header header header header header header*/
/*header header header header header header header header header header header header header header header header header header header header header header*/


header{
  background:       #157;
  color:            #cee;                

  padding:          18px 0px 18px 0px;      /*top right bottom left*/
  border-bottom:    #e62 6px solid;
}


.container{
  width:            90%;                    /*doesn't take the whole width of available screen*/
  margin:           auto;                   /*the content gets centred*/
  overflow:         hidden;
}


.logo-cropped{
  height:           90px;
  width:            180px;

  object-fit:       none;                   /* Do not scale the image */
  object-position:  center;                 /* Center the image within the element */
}


header .brand{
  float:            left;
}


header nav{
  float:            right;
}


header ul{
  padding:          0px;
  border:           0px;
  margin:           0px;
}


header li{
  float:            left;                 /*to populate list items from left to right*/
  display:          inline;               /*to remove bullet points*/
  
  padding:          36px 18px 0px 18px;
}


header a{
  color:            #cee;

  font-size:        18px;

  text-decoration:  none;                 /*to remove underline*/
  text-transform:   uppercase;
}


header a:hover{
  color:            #fdb;              /* grey #cee; */ /* white  #fdb; */
  
  font-weight:      bold;
}


header .current a{
  color:            #e62;              /* blue #157; */ /* orange #e62; */
  
  font-weight:      bold;
}


/*showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase*/
/*showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase showcase*/


/*.container {
    position: relative;
}
.container .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('E:/web/sapience/dens.png') no-repeat 0 -400px;
    opacity: .8;
}
.container .content {
    position: relative;
    z-index: 1;
}*/


.showcase{
  background:       url('den_blue_db_orange_gear.png') no-repeat -100px -400px;
  color:            #157;      
  
  text-align:       center;
}


.showcase h1{
  color:            #157;

  font-size:        36px;                 /* 2.0em = 32px */
  font-weight:      bold;

  margin-top:       12px;                 /* .67em = 11px */
  margin-bottom:    12px;
}


.showcase p{
  color:            #157;

  font-size:        18px;                 /* 1.0em = 16px */

  margin-top:       3px;                  /* 1.0em = 16px */
  margin-bottom:    3px;
}


/*.welcome{
  color:            #157;             
  
  font-size:        36px;
}*/


.sapience1{
  color:            #e62;             
  
  font-family:      'Fugaz One';
  font-size:        48px;
}


.sajden1{
  color:            #157;             
  
  font-family:      'Fugaz One';
  font-size:        48px;
}


/*newsletter newsletter newsletter newsletter newsletter newsletter newsletter newsletter newsletter newsletter newsletter newsletter newsletter newsletter*/


.newsletter{
  background:       #157;
  color:            #cee;

  padding:          12px;
}


.newsletter h1{
  float:            left;
}


.newsletter form {
  float:            right;
  
  margin-top:       18px;
}


.newsletter input[type="email"]{
  height:           24px;
  width:            270px;

  padding:          4px;
}


.button_2{
  background:       #e62;
  color:            #cee;

  font-weight:      bold;

  height:           36px;

  padding-left:     18px;
  padding-right:    18px;
  
}


#more {display: none;}




/* Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes Boxes */

.boxes{
  /*background:       #fdb;*/
  margin-top:20px;
  text-align:       center;
}

.boxes .box{
  float:left;
  text-align: center;
  width:48%;
  padding:10px;
}

.boxes .box img{
  width:90px;
}




/* Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions */

.actions{
  background:       #157;
  color:            #cee;

  padding:          12px;
}


.actions h1{
  float:            left;
}



.actions nav{
  float:            right;
}


.actions li{
  float:            left;                 
  display:          inline;               
  
  padding:          0px 18px 0px 18px;
}


.actions a{
  color:            #cee;

  font-size:        18px;

  text-decoration:  none;                 /*to remove underline*/
  /*text-transform:   uppercase;*/
}


.button_1{
  background:       #e62;
  color:            #cee;

  font-size:        18px;
  font-weight:      bold;

  height:           36px;

  /*margin-top:       18px;*/ 
  padding-left:     18px;
  padding-right:    18px;
  
}


.ors{
  padding: 50px;
  color:#cee;
}


/* ~~~~~~~~~~~~~~~~ x ~~~~~~~~~~~~~~~~ x ~~~~~~~~~~~~~~~~ x ~~~~~~~~~~~~~~~~ x ~~~~~~~~~~~~~~~~ x ~~~~~~~~~~~~~~~~ x ~~~~~~~~~~~~~~~~ x ~~~~~~~~~~~~~~~~ x ~~~~~~~~~~~~~~~~ */


/* Media Queries */
@media(max-width:900px){
  
  header .brand,
  header nav,
  header nav li,
  
  .newsletter h1,
  .newsletter form,
  .boxes .box,
  
  
  article#main-col,
  aside#sidebar{
    float:          none;
    text-align:     center;
    width:          100%;
    padding-bottom: 10px;
  }


  header{
    padding-bottom: 10px;  /*20px*/
  }


  header .container{
    width:           100%;                    /*doesn't take the whole width of available screen*/
    margin:          auto;                   /*the content gets centred*/
    overflow:        hidden;
  }


  .showcase h1{
    margin-top:      12px;
    margin-bottom:   12px;
  }


  .newsletter button, 
  .quote button{
    display:        block;
    width:          100%;
  }


  .newsletter form input[type="email"], 
  .quote input, 
  .quote textarea{
    width:          100%;
    margin-bottom:  5px;
  }

/*  .wrapper{
    grid-template-columns: none;
  }

  .wrapper > *{
    padding: 1em;
  }


  .info h4, .info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }*/

}
